body {
  display: grid;
  padding: 20px 150px;
  grid-template-columns: 1fr 3fr;
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 715px){
  body{
    grid-template-columns: 1fr;
    padding: 0 15px;
  }

  .personal-info{
    max-width: 450px;
    min-width: 180px;
    margin-bottom: 20px;
    margin-right: 0;
    
  }

  .work-education{
    max-width: 450px;
    min-width: 180px
  }
}