body {
  display: grid;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-items: center;
  grid-template-columns: 1fr 3fr;
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

@media (max-width:715px){
  body{
    grid-template-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
  }
  .personal-info{
    max-width: 450px;
    margin-bottom: 20px;
    margin-right: 0;
    min-width: 180px;
  }
  .work-education{
    max-width: 450px;
    min-width: 180px
  }
}