.personal-info {
  max-width: 580px;
  min-width: 230px;
  margin-right: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15),
    -5px -5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.my-image {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  margin-left: 10px;
  margin-bottom: 18px;
  color: rgb(78, 78, 78);
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.skills-line {
  display: flex;
  margin-left: 10px;
  border: 1px solid rgb(221, 221, 221);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin-right: 10px;
  padding-top: 15px;
  margin-top: 35px;
}

.skills {
  font-size: 18px;
  color: rgb(78, 78, 78);
  font-weight: bold;
}

.bar0,
.bar1,
.bar2,
.bar3,
.bar4,
.bar5,
.bar6,
.bar7,
.bar8,
.bar-ro,
.bar-en,
.bar-fr,
.bar-gr {
  background-color: #009688;
  color: white;
  text-align: center;
  border-radius: 11px;
  font-size: 12px;
  padding: 4px 0px;
  margin-top: 3px;
}

.bar0,
.bar1{
  width:90%;
}

.bar2{
  width:80%;
}

.bar3,
.bar4{
  width:60%;
}

.bar5{
  width: 30%;
}

.bar6,
.bar7{
  width: 20%;
}

.bar8{
  width: 15%;
}

.bar-ro{
  width: 100%;
}

.bar-en{
  width: 90%;
}

.bar-fr{
  width: 15%;
}

.bar-gr{
  width: 10%;
  margin-bottom: 15px;
}
.skill-bars {
  margin: 15px 10px 0px 10px;
}

.linkedin-link{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin:0; color:rgb(78, 78, 78);
}