.personal-info {
  max-width: 580px;
  min-width: 230px;
  margin-right: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15),
    -5px -5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.my-image {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  margin-left: 10px;
  margin-bottom: 18px;
  color: rgb(78, 78, 78);
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.skills-line {
  display: flex;
  margin-left: 10px;
  border: 1px solid rgb(221, 221, 221);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin-right: 10px;
  padding-top: 15px;
  margin-top: 35px;
}

.skills {
  font-size: 18px;
  color: rgb(78, 78, 78);
  font-weight: bold;
}

.bar {
  background-color: #009688;
  width: 90%;
  color: white;
  text-align: center;
  border-radius: 11px;
  font-size: 12px;
  padding: 4px 0px;
  margin-top: 3px;
}

.skill-bars {
  margin: 15px 10px 0px 10px;
}